{% extends 'base.html' %}

{% block title %}Candidate List{% endblock %}

{% block content %}

<table rules="all">
	<thead>
		<th>ALCHER_ID</th>
		<th>NAME</th>
		<th>CERTIFICATE_TYPE</th>
		<th>Position</th>
		<th>College</th>
		<th>EVENT</th>
		<th>IS_VALID</th>
	</thead>
	<tbody>
		{% for candid in candids %}
		<tr>
			<td><a href="{% url 'candidUpdateForm' candid.pk %}" title="Edit">{{candid.alcher_id}}</a></td>
			<td>{{candid.name}}</td>
			<td>{{candid.get_certificate_type_display}}</td>
			<td>{{candid.position}}</td>
			<td>{{candid.college}}</td>
			{% if candid.certificate_type == 'CA' %}
			<td></td>
			{% else %}
			<td>{{candid.event}}</td>
			{% endif %}
			<td>{{candid.is_valid}}</td>
			{% if candid.is_valid and candid.is_generated %}
			<td><a href="{% url 'send_email' candid.alcher_id %}"><button>Send Email</button></a></td>
			<td><a href="{% url 'certificate' candid.certificate_url %}"><button>View Certificate</button></a></td>
			{% endif %}
		</tr>
	{% endfor %}
	</tbody>
</table>
	
	<a href="{% url 'candidForm' %}"><button>
		Add Candidates
	</button></a>

	<a href="{% url 'candidBulk' %}"><button>
		Add Candidates through CSV
	</button></a>
<script>
	
</script>
{% endblock %}